<h1><%= @physician.name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_physician_appointment_path(@physician) %>
<hr />

<h2>Doctors</h2>
<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <%= doctor.patient.full_name %>
      <br />
      <%= link_to 'Remove', physician_appointment_path(@physician, doctor), method: :delete %>
    </li>
  <% end %>
</ul>
<h2>Patient</h2>
<ul>
  <% @patients.patient.each do |patient| %>
    <li>
      <%= patient.patient.full_name %>
      <br />
      <%= link_to 'Remove', physician_appointment_path(@physician, patient), method: :delete %>
   </li>
 <% end %>
</ul>